.d_flex{
			display: flex;
		}
		.d_auto li{
			/*margin: auto;*/
		}
		.login{
			margin-left: auto;
		}
		.bgs{
			z-index: -999;
		}
		.bg {
			position: absolute;
		    /*// 使气泡背景充满整个屏幕；*/
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    /*// 如果元素内容超出给定的宽度和高度，overflow 属性可以确定是否显示滚动条等行为；*/
		    overflow: hidden;
		    z-index: -1;
		}
		.bg-bubbles {
		    
		    background: linear-gradient(to bottom right, #50A3A2, #53E3A6);
		    
		}
		.bg-bubbles li {
		      position: absolute;
		      /*// bottom 的设置是为了营造出气泡从页面底部冒出的效果；*/
		      bottom: -160px;
		      /*// 默认的气泡大小；*/
		      width: 40px;
		      height: 40px;
		      background-color: rgba(255, 255, 255, 0.15);
		      list-style: none;
		      /*// 使用自定义动画使气泡渐现、上升和翻滚；*/
		      animation: square 15s infinite;
		      transition-timing-function: linear;
		      /*// 分别设置每个气泡不同的位置、大小、透明度和速度，以显得有层次感；*/
		}

		.bg-bubbles li:nth-child(1) {
		        left: 10%;
		}
		.bg-bubbles li:nth-child(2) {
		        left: 20%;
		        width: 90px;
		        height: 90px;
		        animation-delay: 2s;
		        animation-duration: 7s;
		      }
		.bg-bubbles li:nth-child(3) {
		        left: 25%;
		        animation-delay: 4s;
		      }
		.bg-bubbles li:nth-child(4) {
		        left: 40%;
		        width: 60px;
		        height: 60px;
		        animation-duration: 8s;
		        background-color: rgba(255, 255, 255, 0.3);
		      }
		.bg-bubbles li:nth-child(5) {
		        left: 70%;
		      }
		.bg-bubbles li:nth-child(6) {
		        left: 80%;
		        width: 120px;
		        height: 120px;
		        animation-delay: 3s;
		        background-color: rgba(255, 255, 255, 0.2);
		      }
		.bg-bubbles li:nth-child(7) {
		        left: 32%;
		        width: 160px;
		        height: 160px;
		        animation-delay: 2s;
		      }
		.bg-bubbles li:nth-child(8) {
		        left: 55%;
		        width: 20px;
		        height: 20px;
		        animation-delay: 4s;
		        animation-duration: 15s;
		      }
		.bg-bubbles li:nth-child(9) {
		        left: 25%;
		        width: 10px;
		        height: 10px;
		        animation-delay: 2s;
		        animation-duration: 12s;
		        background-color: rgba(255, 255, 255, 0.3);
		      }
		.bg-bubbles li:nth-child(10) {
		        left: 85%;
		        width: 160px;
		        height: 160px;
		        animation-delay: 5s;
		}
		/*// 自定义 square 动画；*/
		@keyframes square {
		      0% {
		        opacity: 0.75;
		        transform: translateY(0px) rotate(45deg);
		      }
		     /* 25% {
		        opacity: 0.75;
		        transform: translateY(-400px) rotate(90deg)
		      }
		      50% {
		        opacity: 1;
		        transform: translateY(-600px) rotate(135deg);
		      }*/
		      100% {
		        opacity: 0;
		        transform: translateY(-1000px) rotate(180deg);
		      }
		}
		  


		  .bg-cut{
		  	width: 50px;

		  	height: 50px;
		  	border-radius: 25px;
		  	/*background: gray;*/
		  	position: absolute;
		    bottom: 100px;
		    right: 0px;
		    /*z-index: 1;*/
		  }
		  /*背景夜晚*/
		  .bg-night{
		    background: linear-gradient(to bottom right, #000000, #145b58);
		  }

		  .plane{
			width: 100%;
			height: 50px;
			margin: 0px  0 -20px 0;
			/*border-radius: 500px;*/
			border-radius: 80% 80% 0 0 ;
			box-shadow: 
			    200px -20px 50px #58d1ff, 
			    -200px -20px 50px #783be7, 
			    0px -2px 5px #ffffff, 
			    inset 0px 0px 15px rgba(125, 135, 255, 1);
			/*transform:translate(0%,20px);*/
			position: absolute;
			bottom: -15px;
			background: black;
		  }

		  /*.stars{
		  	position: absolute;
		  	top: 0;
		  	left: 0;
		  }*/
		  .star{
		  	position: absolute;
		  	width: 6px;
		  	height: 6px;
		  	/*background: white;*/
		  	animation: bling 5s infinite;
		  }

		  .star div	{
		  	width: 50%;height: 50%;
		  	float: left;
		  	/*box-shadow: 0 0 5px 5px white;*/
		  	/*border-radius: 50%;
		  	background: black;*/
		  	
		  }
		  .star div:nth-child(1){
		  	background: 
		  		radial-gradient(circle at top left, transparent 70%, #fff 0) top left;
		  }
		  .star div:nth-child(2){
		  	background: 
    			radial-gradient(circle at top right, transparent 70%, #fff 0) top right;
		  }
		  .star div:nth-child(3){
		  	background: 
    			radial-gradient(circle at bottom left, transparent 70%, #fff 0) bottom left;
		  }
		  .star div:nth-child(4){
		  	background: 
    			radial-gradient(circle at bottom right, transparent 70%, #fff 0) bottom right;
		  }

		  @keyframes bling {
		      0%,100% {
		      	width: 4px;
		      	height: 4px;
		      }
		   
		      50%{
		        width: 6px;
		      	height: 6px;
		      }
		}
		.Rstar{
			position: absolute;
			animation: Rstar_b 5s infinite;
			background: white;
			border-radius: 50%;
			width: 4px;
		  	height: 4px;
		  	box-shadow: 0 0 10px 2px white;
		}
		@keyframes Rstar_b {
		      0%,100% {
		      	transform: scale(1);
		      }
		   
		      50%{
		        transform: scale(0.7);
		      }
		}

		.flystar{
		  	width: 70px;
		  	height: 10px;
		  	background: linear-gradient(to right, rgba(0,0,0,0),rgba(255,255,255,0.8));
		  	border-radius: 5px;
		  	/*box-shadow: 100px 0 5px red;*/
		  	/*overflow: hidden;*/
		  	/*position: absolute;top: 100px;*/
		}
		.starhead{
		  	width: 10px;height: 10px;border-radius: 50%;
		  	background: white;
		  	float: right;
		  	box-shadow: 0 0 5px 5px white;
		}