

body{
	background: #16a085;
	background-repeat:   no-repeat;
	background-attachment: fixed;
	min-width: 1600px;
	
}
p{
	color:white;
}
li{
	float: left;
	font-size: 20px;
	
}

.dh{
	float: left;
	text-align: center;
	margin:30px;
}
.dh p{
	font-size: 20px;
}

.img{
	width: 140px;
	height:140px;
}
.img img{
	width: 70%;
	height:70%;
	border-radius:5px 15px 20px 25px;
}
.img img:hover{
	width: 75%;
	height:75%;

}
.name{
	width: 100%;
	margin-top: -30px;
}

.find{
	font-size: 20px;
	margin-left:70%;
}
.find div{
	float: left;
	
}
.find input{
	color:black;
	width: 200px;
	height: 45px;
	border: 0px;
	outline:none;
	font-size: 20px;

}

.find_img{
	width: 50px;
	height: 45px;
	border-radius: 40px 0px 0 40px;
	margin-right: 0px;
	background-color: white;
	margin-top: 0px;
}
.find_img img{
	width: 45px;
}
.find_button button{
	color: white;
	margin-left: -0px;
	top:0px;
	width: 60px;
	height: 45px;
	border-radius:0 40px 40px 0;
	background-color: white;
	border: 0px;
	outline:none;margin-top: 0px;
}
.find_button button:hover{
	background-color: #c5003a;
}


.after{
	width: 100%;
	height: 150px;
	text-align: center;
}
.pages-left,.pages-right{
	height: 45px;
	line-height: 30px;
	font-size: 30px;
}
.pages-left{
	width: 70px;
}
.pages-right{
	width: 150px;
}
.pages-left:hover,.pages-right:hover{
	font-size: 40px;
}

.hide{
	display: none;
}


#main{
	clear: both;
	width: 100%;
	height: 650px;
	padding-left: 45px;
}
#main a{
	color:black;
	text-decoration-line: none;
}

#head{
	text-align: center;font-size: 30px;
}
#head div{
	//float: left;
}
#footer{
	text-align: center;
	border-top: 1px solid white;
}
