<html>
<head>
<title>Ctrl</title>
<meta charset="utf-8">
<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script> 
</head>
<body ng-app="myApp1">

    <div ng-controller="myCtrl1">
        名: <input type="text" ng-model="firstName"><br>
        姓: <input type="text" ng-model="lastName"><br>
        <br>
        姓名: {{firstName + " " + lastName}}
    </div>
 
    </div>
<br><br>
    <div  ng-controller="myCtrl2">
        出生日期: <input type="text" ng-model="birthday"><br>
        当前日期: <input type="text" ng-model="nowday"><br>
        <br>
        年龄: {{nowday-birthday}}
 
    </div>
<br><br>
    <div  ng-controller="myCtrl3">
        名: <input type="text" ng-model="YuE"><br>
        姓: <input type="text" ng-model="XiaoFei"><br>
        <br>
        结算: {{"余额："+YuE + "消费：" + XiaoFei+ "结算:"+(YuE-XiaoFei)}}
 
    </div>

    <script>
        var app1 = angular.module('myApp1', []);
        app1.controller('myCtrl1', function($scope) {
            $scope.firstName= "John";
            $scope.lastName= "Doe";
        });

        app1.controller('myCtrl2', function($scope) {
            $scope.birthday= "1996";
            $scope.nowday= "2017";
        });

        app1.controller('myCtrl3', function($scope) {
            $scope.YuE= "2000";
            $scope.XiaoFei= "1350";
        });

    </script>
</body>
</html>
