.header,.main,.footer{
	width: 100%;
	min-width: 1600px;
}

.header{
	background-color: white;
	height: 60px;
	box-shadow: 0px 3px 3px #888888;
}
.logo img{
	width: 50px;
}
.login{

}

.main{
	height: 700px;

}
.info,.list,.to{
	width: 1000px;
	margin:0px auto;
}
.info{
	height: 60px;
	box-shadow: 0px 1px 3px #888888;
}
.up,.down{
	width: 10%;
	height: 100%;
	background-color: gray;
	line-height: 60px;
	text-align: center;
	font-size: 20px;
}
.up:hover,.down:hover{
	background-color: #a10;
	font-size: 30px;
}
.up{
	float: left;
}
.time{
	min-width: 120px;
	width: 80%;
	text-align: center;
	line-height: 60px;
	float: left;
	font-size: 20px;
}
.down{
	float: right;
}



.list{
	height: 600px;
}
.to{
	
	clear: both;
	height: 50px;
	//border: 1px solid black;
}
.do{
	height: 50px;
	border: 1px solid black;
}
.do-time{
	width: 10%;
	height: 50px;
	float: left;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
}
.do-type{
	width: 83%;
	font-size: 20px;
	float: left;
	line-height: 50px;
}
.context{
	width: 100%;
	height: 60px;
	display: none;
}
.to:hover{
	height: 120px;
}
.to:hover .context{
	display: block;
}
.del{
	width: 50px;
	height: 50px;
	font-size: 20px;
	float: left;
	line-height: 50px;
	text-align: center;
}
.del:hover{
	font-size: 25px;
}





.new{
	width: 100%;
	height: 50px;
	background-color: gray;
	font-size: 20px;
	line-height: 50px;
}
.new input,.new-type,.sub{
	float: left;
	height: 50px;
	line-height: 50px;
	
}
.new-type{
	width: 100px;
}
.new-type select{
	width: 100%;
	height: 50px;
}
.new input{
	width: 83%;
}
.sub{
	width: 50px;
	text-align: center;
}
.sub{
	font-size: 25px;
}





.footer{
	clear: both;
	background-color: #cccccc;
	height: 60px;
}
.footer p{
	text-align: center;
}