
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="js/3.3.5/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/header.css" rel="stylesheet">
	<link href="css/base.css" rel="stylesheet">
	<link href="css/footer.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/angular.css">
	<script src="js/jquery-1.11.1.min.js"></script>
	<script src="js/3.3.5/js/bootstrap.min.js"></script>
	<script src="http://cdn.static.runoob.com/libs/angular.js/1.4.6/angular.min.js"></script>
	<title>zhangnay的个人网站</title>

</head>

<body>
	<div class="head">
		<div class="logo">
			<img src="img/header_img/header1.png" class="img-circle">
		</div>
		<div class="p" >
			<p>个人网站</p>
		</div>

		<div class="menu">
			<ul>
				<a href=""><li>主页</li></a>
				<a href=""><li>项目</li></a>
				<a href=""><li>日志</li></a>
				<a href=""><li>收藏</li></a>
			</ul>
		</div>
		<div class="img">
			<img src="img/header_img/header1.png" class="img-circle">

		</div>
		<div class="p" >
			<p>Admin</p>
		</div>
		<div id="down" class="p glyphicon glyphicon-chevron-down"></div>
		<!-- <div class="list">
			<ul>
				<li><a href="">更换账号</a></li>
				<li><a href="">关于</a></li>
			</ul>
		</div> -->

	</div>
	

	<div class="welcome">
		<div class="col-md-12 text-center">
			<br> <br>
			<h1 class="text-danger" style="font-size: 70px">欢迎来到我的个人网站！</h1>
			<br>
			<p style="font-size: 25px">Welcome to My Personal Website</p>
			<br> <br> <a href="main.jsp" class="btn btn-lg btn-primary">单击进入</a>
		</div>
	</div>

	<div class="main" ng-app="myApp" ng-controller="fromcontroller">
		<div class="login">
			<br>
			<div>
				<p>登陆</p>
			</div>
			<from name="myForm" ng-submit="submit()">

				
					<input type="text" name="name" ng-model="name" ng-minlength="2" ng-maxlength="6" required>
					<span ng-show="myForm.name.$error.minlength && 
					myForm.name.$touched">长度必须大于2</span>
				
				<br>
				
					<input type="password" name="password" ng-model="password" ng-minlength="6" ng-maxlength="32" required ng-class="{'error': myForm.password.$invalid}">
					<span ng-show="myForm.password.$invalid">长度必须大于6</span>
					
				
				<br>
				
					<button class="btn btn-primary"  
					        type="submit"
					        ng-disabled="myForm.name.$dirty && myForm.name.$invalid ||
                                         myForm.password1.$dirty && myForm.password.$invalid">登陆</button>
				
			</from>
		</div>
	</div>
	<script>
		var app = angular.module('myApp', []);
		app.controller('fromcontroller', function($scope) {
			$scope.name = '';
			$scope.password = '';

			$scope.submit=function(){
				alert("submit test");
			}
		});
	</script>



	<!--页脚 -->
	<div class="footer">
		<hr>
		<div class="footer_head">
			<h3 class="text-center text-primary">---友情链接---</h1>
				<p class="text-center">Friendly Link</p>
			</div>

			<div class="footer_main">
				<div>
					<img src="img/友情链接.png" class="center-block img-circle img-responsive">
					<h5>John Doe</h3>
						<p>Developer</p>
					</div>
					<div>
						<img src="img/友情链接.png" class="center-block img-circle img-responsive">
						<h5>John Doe</h3>
							<p>Developer</p>
						</div>
						<div>
							<img src="img/友情链接.png" class="center-block img-circle img-responsive">
							<h5>John Doe</h3>
								<p>Developer</p>
							</div>
						</div>
					</div>


				</body>
				</html>